/**
 * default
 */
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
    padding: 10px 0 10px 0;
    font-weight: bold;
}

p, pre, ul {
    margin: 11px 0 11px 0;
    line-height: 1.3em;
}

ul {
    list-style: disc inside;
    line-height: 1.3em;
}

li {
    padding-left: 20px;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

pre, code {
    font-family: "Lucida Console", Monaco, monospace;
}
