cssPrefix = 'tui-colorpicker-'

containerWidth = 152px;

box()
    width: arguments
    height: arguments
    border: 1px solid #ccc;

no-mp()
    margin: 0px;
    padding: 0px;

inlineBlock()
    display: inline-block;
    *display: inline;
    zoom: 1;

clearfix()
    zoom: 1;
    &:after
        content: '';
        display: block;
        clear: both;

+prefix-classes(cssPrefix)
    // Common
    .clearfix
        zoom: 1;

    .clearfix:after
        content: '';
        display: block;
        clear: both;

    .vml
        behavior: url(#default#VML);
        display: block;

    // Palette
    .palette-container
        width: containerWidth;

    .palette-container ul
        width: containerWidth;
        no-mp();

    .palette-container li
        bow(16px)
        float:left;
        margin: 0;
        padding: 0 3px 3px 0;
        list-style: none;

    .palette-button
        display: block;
        border: none;
        overflow: hidden;
        outline: none;
        no-mp();
        box(16px);
        cursor: pointer;

    .palette-button.selected
        border: 2px solid #000;

    .palette-hex
        font-family: monospace;
        inlineBlock();
        width: 60px;
        vertical-align: middle;

    .palette-preview
        inlineBlock();
        box(12px);
        border: 1px solid #ccc;
        vertical-align: middle;
        overflow: hidden;

    .palette-toggle-slider
        inlineBlock();
        vertical-align: middle;
        float: right;

    // Slider View
    .slider-container
        margin: 5px 0 0 0;
        height: containerWidth - 30;
        clearfix()

    .slider-left
        float: left;

    .slider-right
        float: right;

    // hue bar
    .hue-rail
        position: relative;
        float: left;
        width: 2px;
        margin: 1px 0;
        height: containerWidth - 32;
        overflow: visible;

    .hue-handle
        display: block;
        position: absolute;
        width: 16px;
        height: 13px;
        top: 0%;
        left: -6px;
        margin-top: -6.5px;
        cursor: pointer;
        line-height: 13px;
        font-family: monospace;
        font-size: 1.1em;

    // slider
    .slider-handle
        position: absolute;
        overflow: visible;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        z-index: 2;

    // SVG
    .svg
        display: block;

    .svg-slider
        box(containerWidth - 32);

    .svg-huebar
        float: right;
        width: 16px;
        height: containerWidth - 32;
        border: 1px solid #ccc;

    // VML
    .vml-slider
        position: relative;
        box(containerWidth - 32);
        overflow: hidden;

    .vml-slider-bg
        position: absolute;
        margin: -1px 0 0 -1px;
        top: 0;
        left: 0;
        width: containerWidth - 30;
        height: containerWidth - 30;

    .vml-huebar
        width: 16px;
        position: relative;
    
    .vml-huebar-bg
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: containerWidth - 30;

